

{% extends "bootstrap/base.html" %}
{% block title %}JCC App{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}

<div class="container">
   <div class="row">
      <h1>About</h1>
   </div>
   <br />
   <div class="row">
      Our mission is to help the betterment of local Loudoun County communities.  Past charity contributions included Toys for Tots, Loudoun Citizens for Social Justice (Loudoun Abused Women’s Shelter), ECHO (Every Citizen Has Opportunities), and Loudoun Free Clinic.
   </div>
   <br />
   <div class="row">
      This application has been build at the WCC
   </div>
</div>


{% endblock %}

