{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

{% block content %}
   <div class="container">
      {% include "heading.html" %}
      {{ ckeditor.config(name='messageField', custom_config="default: test") }}
      <div class="row">
         <h3>{{ tTemplate.name }}</h3>
      </div>
      <br />
      <div class="col-lg-12">
        {% for field in form %}
          {{ render_field(field) }}
        {% endfor %}
      </div>
      <div class="row" style="text-align: right;">
         <button type="button" class="btn btn-info" style="margin-top: 1.8em;"
                 onclick="sendEmail()" >Send Email</button>
      </div>
   </div>
   <script>
      var jcc = jcc || {};
      jcc.myRoot = "{{ url_for('landing_page')}}";

      var sendEmail = function(){
         var choice = confirm('Do you really want to send this email out?');
         if (choice) {
            // TODO #21 grab all values from the fields, send them in the body of a POST request to be
            // able to send an email out
         }
      }
   </script>
{% endblock %}

