{% extends "bootstrap/base.html" %}
{% block title %}JCC App{% endblock %}

{% block navbar %}
   <div class="navbar navbar-fixed-top">
     <!-- ... -->
   </div>
{% endblock %}

{% block content %}
   <div class="container">
      {% include "heading.html" %}
      <div class="row">
         <h3>{{ tTemplate.name }}</h3>
      </div>
      <br />
      <div class="col-lg-12">
         <div class="row">
            <form class="form-group">
               <label>From</label>
               <input type="text" class="form-control" value="{{ tTemplate.sender }}" />
            </form>
         </div>
         <div class="row">
            <form class="form-group">
               <label>To</label>
               <input type="text" class="form-control" value="{{ tTemplate.recipient }}" />
            </form>
         </div>
         <div class="row">
            <form class="form-group">
               <label>CC</label>
               <input type="text" class="form-control" value="{{ tTemplate.cc }}" />
            </form>
         </div>
         <div class="row">
            <form class="form-group">
               <label>Subject</label>
               <input type="text" class="form-control" value="{{ tTemplate.subject }} "/>
            </form>
         </div>
         <br /><br />
         <div class="row">
            <form class="form-group">
               <label>Message</label>
               <input type="text" class="form-control"  style="height: 20em;" value="{{ tTemplate.message }}" />
            </form>
         </div>
      </div>
      <div class="row" style="text-align: right;">
         <button type="button" class="btn btn-info" style="margin-top: 1.8em;"
                 onclick="sendEmail()" >Send Email</button>
      </div>
   </div>
   <script>
      var jcc = jcc || {};
      jcc.myRoot = "{{ url_for('landing_page')}}";

      var sendEmail = function(){
         var choice = confirm('Do you really want to send this email out?');
         if (choice) {
            // TODO #21 grab all values from the fields, send them in the body of a POST request to be
            // able to send an email out
         }
      }
   </script>
{% endblock %}

