

{% extends "bootstrap/base.html" %}
{% block title %}JCC App{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}

<div class="container">
   <div class="row">
      <h1>Hello, JCC Web App!!!</h1>
   </div>

   <div class="row">
      <select class="selectpicker">
      {% for e in tEvents %}
      <option>{{e.name}}</option>
      {% endfor %}
      </select>
      <select class="selectpicker">
         {% for e in tEvents %}
         <option>{{e.name}}</option>
         {% endfor %}
      </select>
   </div>
</div>


{% endblock %}

